<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://appvetpet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c24dac46-81fb-4ee9-b72d-0b4648493dfb/resourcegroups/DefaultResourceGroup-CQ/providers/Microsoft.Web/sites/AppVetPet</ResourceId>
    <UserName>$AppVetPet</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://appvetpet.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>